---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import gowLogo from "../assets/gow.svg";
import ContentSection from "../components/content-section.astro";
---

<ContentSection title="Acelerate" id="intro">
  <Icon slot="eyebrow" name="gow" class="size-96" />
  <Fragment slot="lead">
    Con 
    <span class="text-primary">gow</span> podés manejar productos, clientes y ventas con 
    <span class="text-primary">facturación electrónica</span> sin complicaciones y a tu medida.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-1">
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 hover:bg-primary hover:border-current"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Quiero demo</span>
    </a>
  </div>
</ContentSection>
